## Preamble

In [2]:
import pandas as pd
import numpy as np

%matplotlib inline

In [3]:
drinks = pd.read_csv("/home/ozzy/Documents/CEU/MPDS/Homework/Data/Raw/Drinks.csv", sep=",")

## Drinks

We start with out first dataset and moving forward, I will try to check the data quality of our given data. I will try to check if there are any missing values and duplicates. Later on, I will try to transform the datatypes to ones I would like to work with.

In [4]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,NaN
1,Albania,89,132,54,NaN
2,Algeria,25,0,14,NaN
3,Andorra,245,138,312,NaN
4,Angola,217,57,45,NaN

In [5]:
drinks.isnull().sum()

country                           0
beer_servings                     0
spirit_servings                   0
wine_servings                     0
total_litres_of_pure_alcohol    193
dtype: int64

In [6]:
drinks.shape, drinks.drop_duplicates().shape

((193, 5), (193, 5))

In [7]:
drinks.dtypes

country                          object
beer_servings                    object
spirit_servings                  object
wine_servings                    object
total_litres_of_pure_alcohol    float64
dtype: object

## Datatype transformations

Changing the datatypes of servings columns didn't work. There must be non numerical values (indeed there are) in our observations. We can coerce them as below and we can work on how to handle the missing values later on.

In [8]:
drinks["beer_servings"] = pd.to_numeric(drinks["beer_servings"], errors = "coerce")

In [9]:
drinks["spirit_servings"] = pd.to_numeric(drinks["spirit_servings"], errors = "coerce")

In [10]:
drinks["wine_servings"] = pd.to_numeric(drinks["wine_servings"], errors = "coerce")

There seems to be question marks in the data instead of null or numeric observations. Missing observations and their correspondent countries can be seen below.

In [11]:
drinks[drinks["beer_servings"].isnull()]["country"],drinks[drinks["spirit_servings"].isnull()]["country"], drinks[drinks["wine_servings"].isnull()]["country"]

(99    Macedonia
 Name: country, dtype: object,
 46    Denmark
 Name: country, dtype: object,
 11    Bahamas
 Name: country, dtype: object)

Maybe it is best to handle these null values with income group level mean or median. For instance, taking the average of spirit servings of all countries and apply it for Denmark's spirit consumption could be misleading. It would be best to take a look at high income countries' or a regional average. To do that, we are moving to another dataset we have.

I will start with some data wrangling and eventually merge our datasets into one.

## Countries

In [12]:
countries = pd.ExcelFile("/home/ozzy/Documents/CEU/MPDS/Homework/Data/Raw/CountriesOfTheWorld.xls")
countries = pd.read_excel(countries, header = None)

In [13]:
countries = countries[3:]
countries = countries.drop([4])

In [14]:
countries.columns = countries.iloc[0]

In [15]:
countries = countries[1:]

In [16]:
countries = countries.reset_index()

In [17]:
countries = countries.drop("index", axis = 1)

In [18]:
countries.rename(columns = {"Country" : "country"}, inplace = True)

In [19]:
countries.shape, countries.drop_duplicates().shape

((227, 16), (227, 16))

There seems to be whitespaces among our country variable. That makes it hard to merge our two dataset together. We should correct this in order to continue with our analysis.

In [20]:
countries.loc[:, "country"] = countries.loc[:, "country"].str.strip()
drinks.loc[:, "country"] = drinks.loc[:, "country"].str.strip()

In [21]:
combined = countries.merge(drinks, on = "country")

In [22]:
combined.shape, drinks.shape

((174, 20), (193, 5))

It seems that country names are different in each dataset. I will try to correct it manually and in order to do that, I will print countries that doesn't appear in either one of the datasets.

In [23]:
drinks[~drinks.country.isin(combined["country"])]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
11,Bahamas,122.0,176.0,NaN,NaN
21,Bosnia-Herzegovina,76.0,173.0,8.0,NaN
28,Cabo Verde,144.0,56.0,16.0,NaN
32,Central African Republic,17.0,2.0,1.0,NaN
38,Congo,76.0,1.0,9.0,NaN
50,DR Congo,32.0,3.0,1.0,NaN
62,Gambia,8.0,0.0,1.0,NaN
110,Micronesia,62.0,50.0,18.0,NaN
114,Montenegro,31.0,114.0,128.0,NaN
117,Myanmar,5.0,1.0,0.0,NaN
126,Niue,188.0,200.0,7.0,NaN
127,North Korea,0.0,0.0,0.0,NaN
141,Russian Federation,247.0,326.0,73.0,NaN
157,South Korea,140.0,16.0,9.0,NaN
160,St. Kitts & Nevis,194.0,205.0,32.0,NaN
161,St. Lucia,171.0,315.0,71.0,NaN
162,St. Vincent & the Grenadines,120.0,221.0,11.0,NaN
172,Timor-Leste,1.0,1.0,4.0,NaN
185,USA,249.0,158.0,84.0,NaN

In [24]:
countries[~countries.country.isin(combined["country"])]

3,country,Region,Population,Area,Pop. Density,Coastline,Net migration,Infant mortality,GDP,Literacy,Phones,Arable,Crops,Other,Birthrate,Deathrate
3,American Samoa,OCEANIA,57794,199,290.42,58.29,-20.71,9.27,8000,97,259.54,10,15,75,22.46,3.27
6,Anguilla,LATIN AMER. & CARIB,13477,102,132.13,59.8,10.76,21.03,8600,95,460.04,0,0,100,14.17,5.34
10,Aruba,LATIN AMER. & CARIB,71891,193,372.49,35.49,0,5.89,28000,97,516.06,10.53,0,89.47,11.03,6.68
14,"Bahamas, The",LATIN AMER. & CARIB,303770,13940,21.79,25.41,-2.2,25.21,16700,95.6,460.55,0.8,0.4,98.8,17.57,9.05
22,Bermuda,NORTHERN AMERICA,65773,53,1241,194.34,2.49,8.53,36000,98,851.41,20,0,80,11.4,7.74
25,Bosnia & Herzegovina,EASTERN EUROPE,4498976,51129,87.99,0.04,0.31,21.05,6100,NaN,215.36,13.6,2.96,83.44,8.77,8.27
28,British Virgin Is.,LATIN AMER. & CARIB,23098,153,150.97,52.29,10.01,18.05,16000,97.8,506.54,20,6.67,73.33,14.89,4.42
32,Burma,ASIA (EX. NEAR EAST),47382633,678500,69.83,0.28,-1.8,67.24,1800,85.3,10.05,15.19,0.97,83.84,17.91,9.83
37,Cape Verde,SUB-SAHARAN AFRICA,420979,4033,104.38,23.93,-12.07,47.77,1400,76.6,169.6,9.68,0.5,89.82,24.87,6.55
38,Cayman Islands,LATIN AMER. & CARIB,45436,262,173.42,61.07,18.75,8.19,35000,98,836.34,3.85,0,96.15,12.74,4.89
39,Central African Rep.,SUB-SAHARAN AFRICA,4303356,622984,6.91,0,0,91,1100,51,2.32,3.1,0.14,96.76,33.91,18.65
45,"Congo, Dem. Rep.",SUB-SAHARAN AFRICA,62660551,2345410,26.72,0,0,94.69,700,65.5,0.17,2.96,0.52,96.52,43.69,13.27
46,"Congo, Repub. of the",SUB-SAHARAN AFRICA,3702314,342000,10.83,0.05,-0.17,93.86,700,83.8,3.73,0.51,0.13,99.36,42.57,12.93
58,East Timor,ASIA (EX. NEAR EAST),1062777,15007,70.82,4.7,0,47.41,500,58.6,NaN,4.71,0.67,94.62,26.99,6.24
66,Faroe Islands,WESTERN EUROPE,47246,1399,33.77,79.84,1.41,6.24,22000,NaN,503.75,2.14,0,97.86,14.05,8.7
70,French Guiana,LATIN AMER. & CARIB,199509,91000,2.19,0.42,6.27,12.07,8300,83,255.63,0.14,0.05,99.81,20.46,4.88
71,French Polynesia,OCEANIA,274578,4167,65.89,60.6,2.94,8.44,17500,98,194.48,0.82,5.46,93.72,16.68,4.69
73,"Gambia, The",SUB-SAHARAN AFRICA,1641564,11300,145.27,0.71,1.57,72.02,1700,40.1,26.8,25,0.5,74.5,39.37,12.25
74,Gaza Strip,NEAR EAST,1428757,360,3968.77,11.11,1.6,22.93,600,NaN,244.27,28.95,21.05,50,39.45,3.8
78,Gibraltar,WESTERN EUROPE,27928,7,3989.71,171.43,0,5.13,17500,NaN,877.69,0,0,100,10.74,9.31
80,Greenland,NORTHERN AMERICA,56361,2166086,0.03,2.04,-8.37,15.82,20000,NaN,448.89,0,0,100,15.93,7.84
82,Guadeloupe,LATIN AMER. & CARIB,452776,1780,254.37,17.19,-0.15,8.6,8000,90,463.81,11.24,3.55,85.21,15.05,6.09
83,Guam,OCEANIA,171019,541,316.12,23.2,0,6.94,21000,99,491.96,9.09,16.36,74.55,18.79,4.48
85,Guernsey,WESTERN EUROPE,65409,78,838.58,64.1,3.84,4.71,20000,NaN,842.39,NaN,NaN,NaN,8.81,10.01
91,Hong Kong,ASIA (EX. NEAR EAST),6940432,1092,6355.71,67.12,5.24,2.97,28800,93.5,546.74,5.05,1.01,93.94,7.29,6.29
99,Isle of Man,WESTERN EUROPE,75441,572,131.89,27.97,5.36,5.93,21000,NaN,676.02,9,0,91,11.05,11.19
104,Jersey,WESTERN EUROPE,91084,116,785.21,60.34,2.76,5.24,24800,NaN,811.34,0,0,100,9.3,9.28
109,"Korea, North",ASIA (EX. NEAR EAST),23113019,120540,191.75,2.07,0,24.04,1300,99,42.4,20.76,2.49,76.75,15.54,7.13
110,"Korea, South",ASIA (EX. NEAR EAST),48846823,98480,496.01,2.45,0,7.05,17800,97.9,486.11,17.18,1.95,80.87,10,5.85
119,Liechtenstein,WESTERN EUROPE,33987,160,212.42,0,4.85,4.7,25000,100,585.52,25,0,75,10.21,7.18
122,Macau,ASIA (EX. NEAR EAST),453125,28,16183,146.43,4.86,4.39,19400,94.5,384.88,0,0,100,8.48,4.47
131,Martinique,LATIN AMER. & CARIB,436131,1100,396.48,31.82,-0.05,7.09,14400,97.7,394.38,10.38,9.43,80.19,13.74,6.48
134,Mayotte,SUB-SAHARAN AFRICA,201234,374,538.06,49.52,6.78,62.4,2600,NaN,49.69,NaN,NaN,NaN,40.95,7.7
136,"Micronesia, Fed. St.",OCEANIA,108004,702,153.85,870.66,-20.99,30.21,2000,89,114.81,5.71,45.71,48.58,24.68,4.75
140,Montserrat,LATIN AMER. & CARIB,9439,102,92.54,39.22,0,7.35,3400,97,NaN,20,0,80,17.59,7.1
147,Netherlands Antilles,LATIN AMER. & CARIB,221736,960,230.98,37.92,-0.41,10.03,11400,96.7,365.3,10,0,90,14.78,6.45
148,New Caledonia,OCEANIA,219246,19060,11.5,11.83,0,7.72,15000,91,252.23,0.38,0.33,99.29,18.11,5.69
153,N. Mariana Islands,OCEANIA,82459,477,172.87,310.69,9.61,7.11,12500,97,254.67,13.04,4.35,82.61,19.43,2.29
165,Puerto Rico,LATIN AMER. & CARIB,3927188,13790,284.79,3.63,-1.46,8.24,16800,94.1,283.13,3.95,5.52,90.53,12.77,7.65
167,Reunion,SUB-SAHARAN AFRICA,787584,2517,312.91,8.22,0,7.78,5800,88.9,380.91,13.6,1.2,85.2,18.9,5.49
169,Russia,C.W. OF IND. STATES,142893540,17075200,8.37,0.22,1.02,15.39,8900,99.6,280.63,7.33,0.11,92.56,9.95,14.65
171,Saint Helena,SUB-SAHARAN AFRICA,7502,413,18.16,14.53,0,19,2500,97,293.26,12.9,0,87.1,12.13,6.53
172,Saint Kitts & Nevis,LATIN AMER. & CARIB,39129,261,149.92,51.72,-7.11,14.49,8800,97,638.91,19.44,2.78,77.78,18.02,8.33
173,Saint Lucia,LATIN AMER. & CARIB,168458,616,273.47,25.65,-2.67,13.53,5400,67,303.34,6.56,22.95,70.49,19.68,5.08
174,St Pierre & Miquelon,NORTHERN AMERICA,7026,242,29.03,49.59,-4.86,7.54,6900,99,683.18,13.04,0,86.96,13.52,6.83
175,Saint Vincent and the Grenadines,LATIN AMER. & CARIB,117848,389,302.95,21.59,-7.64,14.78,2900,96,190.92,17.95,17.95,64.1,16.18,5.98
198,Taiwan,ASIA (EX. NEAR EAST),23036087,35980,640.25,4.35,0,6.4,23400,96.1,591.03,24,1,75,12.56,6.48
208,Turks & Caicos Is,LATIN AMER. & CARIB,21152,430,49.19,90.47,11.68,15.67,9600,98,269.48,2.33,0,97.67,21.84,4.21
214,United States,NORTHERN AMERICA,298444215,9631420,30.99,0.21,3.41,6.5,37800,97,897.99,19.13,0.22,80.65,14.14,8.26
220,Virgin Islands,LATIN AMER. & CARIB,108605,1910,56.86,9.84,-8.94,8.03,17200,NaN,652.82,11.76,2.94,85.3,13.96,6.43
221,Wallis and Futuna,OCEANIA,16025,274,58.49,47.08,NaN,NaN,3700,50,118.56,5,25,70,NaN,NaN
222,West Bank,NEAR EAST,2460492,5860,419.88,0,2.98,19.62,800,NaN,145.21,16.9,18.97,64.13,31.67,3.92
223,Western Sahara,NORTHERN AFRICA,273008,266000,1.03,0.42,NaN,NaN,NaN,NaN,NaN,0.02,0,99.98,NaN,NaN

In [25]:
countries.iloc[14,0] = drinks.iloc[11,0]
countries.iloc[25,0] = drinks.iloc[21,0]
countries.iloc[37,0] = drinks.iloc[28,0]
countries.iloc[39,0] = drinks.iloc[32,0]
countries.iloc[46,0] = drinks.iloc[38,0]
countries.iloc[45,0] = drinks.iloc[50,0]
countries.iloc[73,0] = drinks.iloc[62,0]
countries.iloc[136,0] = drinks.iloc[110,0]
countries.iloc[32,0] = drinks.iloc[117,0]
countries.iloc[109,0] = drinks.iloc[127,0]
countries.iloc[169,0] = drinks.iloc[141,0]
countries.iloc[110,0] = drinks.iloc[157,0]
countries.iloc[172,0] = drinks.iloc[160,0]
countries.iloc[173,0] = drinks.iloc[161,0]
countries.iloc[175,0] = drinks.iloc[162,0]
countries.iloc[214,0] = drinks.iloc[185,0]
countries.iloc[58,0] = drinks.iloc[172,0]

In [26]:
combined = countries.merge(drinks, on = "country")

In [27]:
combined.shape, drinks.shape

((191, 20), (193, 5))

Not perfect but it is definitely better. We seem to be able to combine 191 countries with country information and alcohol consumption information. Now it is time to fill in the missing values we have find out for alcohol servings in the beginning of our analysis.

In [28]:
combined[combined["country"] == "Denmark"]["Region"], combined[combined["country"] == "Macedonia"]["Region"], combined[combined["country"] == "Bahamas"]["Region"]

(48    WESTERN EUROPE
 Name: Region, dtype: object,
 103    EASTERN EUROPE
 Name: Region, dtype: object,
 11    LATIN AMER. & CARIB
 Name: Region, dtype: object)

In [29]:
combined.groupby(["Region"]).mean()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
Region,,,,
ASIA (EX. NEAR EAST),37.640000,54.200000,7.360000,NaN
BALTICS,282.666667,218.000000,59.000000,NaN
C.W. OF IND. STATES,83.250000,168.083333,33.416667,NaN
EASTERN EUROPE,237.272727,155.666667,129.750000,NaN
LATIN AMER. & CARIB,150.212121,148.757576,33.687500,NaN
NEAR EAST,30.928571,44.285714,14.071429,NaN
NORTHERN AFRICA,18.800000,2.600000,9.000000,NaN
NORTHERN AMERICA,244.500000,140.000000,92.000000,NaN
OCEANIA,83.133333,49.000000,37.533333,NaN
SUB-SAHARAN AFRICA,65.916667,17.770833,17.020833,NaN
WESTERN EUROPE,199.181818,92.047619,188.863636,NaN

In [30]:
combined[combined["country"] == "Denmark"]

,country,Region,Population,Area,Pop. Density,Coastline,Net migration,Infant mortality,GDP,Literacy,Phones,Arable,Crops,Other,Birthrate,Deathrate,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
48,Denmark,WESTERN EUROPE,5450661,43094,126.48,16.97,2.48,4.56,31100,100,614.6,54.02,0.19,45.79,11.13,10.36,224.0,NaN,278.0,NaN

In [31]:
combined.iloc[48,17] = 92.047619

In [32]:
combined[combined["country"] == "Macedonia"]

,country,Region,Population,Area,Pop. Density,Coastline,Net migration,Infant mortality,GDP,Literacy,Phones,Arable,Crops,Other,Birthrate,Deathrate,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
103,Macedonia,EASTERN EUROPE,2050554,25333,80.94,0,-1.45,10.09,6700,NaN,260.03,22.26,1.81,75.93,12.02,8.77,NaN,27.0,86.0,NaN

In [33]:
combined.iloc[103,16] = 253.400000

In [34]:
combined[combined["country"] == "Bahamas"]

,country,Region,Population,Area,Pop. Density,Coastline,Net migration,Infant mortality,GDP,Literacy,Phones,Arable,Crops,Other,Birthrate,Deathrate,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
11,Bahamas,LATIN AMER. & CARIB,303770,13940,21.79,25.41,-2.2,25.21,16700,95.6,460.55,0.8,0.4,98.8,17.57,9.05,122.0,176.0,NaN,NaN

In [35]:
combined.iloc[11,18] = 33.241379

Okay, we have merged country information and their alcoholic berage consumption and handled our missing values for Bahamas, Macedonia and Denmark. We lost Niue and Montenegro in the process but it could be expected and not a huge loss since we end up with 191 observations out of 193. Now we should calculate the total litres of pure alcohol per serving we have given, join life expectancy data and tidy all of our variables a little.

In [36]:
combined["total_litres_of_pure_alcohol"] = combined["beer_servings"]*12*0.0295*0.05 + combined["wine_servings"]*5*0.0295*0.12 + combined["spirit_servings"]*1.5*0.0295*0.40

In [37]:
combined.dtypes

country                          object
Region                           object
Population                       object
Area                             object
Pop. Density                     object
Coastline                        object
Net migration                    object
Infant mortality                 object
GDP                              object
Literacy                         object
Phones                           object
Arable                           object
Crops                            object
Other                            object
Birthrate                        object
Deathrate                        object
beer_servings                   float64
spirit_servings                 float64
wine_servings                   float64
total_litres_of_pure_alcohol    float64
dtype: object

In [38]:
combined["Population"] = pd.to_numeric(combined["Population"], errors = "coerce")
combined["Area"] = pd.to_numeric(combined["Area"], errors = "coerce")
combined["Pop. Density"] = pd.to_numeric(combined["Pop. Density"], errors = "coerce")
combined["Coastline"] = pd.to_numeric(combined["Coastline"], errors = "coerce")
combined["Net migration"] = pd.to_numeric(combined["Net migration"], errors = "coerce")
combined["Infant mortality"] = pd.to_numeric(combined["Infant mortality"], errors = "coerce")
combined["GDP"] = pd.to_numeric(combined["GDP"], errors = "coerce")
combined["Literacy"] = pd.to_numeric(combined["Literacy"], errors = "coerce")
combined["Phones"] = pd.to_numeric(combined["Phones"], errors = "coerce")
combined["Arable"] = pd.to_numeric(combined["Arable"], errors = "coerce")
combined["Crops"] = pd.to_numeric(combined["Crops"], errors = "coerce")
combined["Other"] = pd.to_numeric(combined["Other"], errors = "coerce")
combined["Birthrate"] = pd.to_numeric(combined["Birthrate"], errors = "coerce")
combined["Deathrate"] = pd.to_numeric(combined["Deathrate"], errors = "coerce")

In [39]:
combined.isna().sum()

country                         0
Region                          0
Population                      0
Area                            0
Pop. Density                    0
Coastline                       0
Net migration                   1
Infant mortality                1
GDP                             0
Literacy                        7
Phones                          2
Arable                          0
Crops                           0
Other                           0
Birthrate                       1
Deathrate                       2
beer_servings                   0
spirit_servings                 0
wine_servings                   0
total_litres_of_pure_alcohol    0
dtype: int64

Data types looks better now. There are null values here and there but to be honest, I mostly care about GDP and it has no null values at this point. We will see if we need to handle others but for the time being we can leave them as it is.

## Life Expectancy

In [40]:
life = pd.read_csv("/home/ozzy/Documents/CEU/MPDS/Homework/Data/Raw/LifeExpectancy.csv", sep=",")

In [41]:
life.shape

(6408, 16)

In [42]:
life.columns

Index(['GhoCode', 'GhoDisplay', 'PublishStateCode', 'PublishStateDisplay',
       'YearCode', 'YearDisplay', 'RegionCode', 'RegionDisplay',
       'WorldBankIncomeGroupGroupCode', 'WorldBankIncomeGroupDisplay',
       'CountryCode', 'CountryDisplay', 'SexCode', 'SexDisplay',
       'DisplayValue', 'Numeric'],
      dtype='object')

In [43]:
life['YearCode'].unique(), life['SexDisplay'].unique(), life['GhoDisplay'].unique()

(array([2013, 2012, 2000, 1990]),
 array(['Both sexes', 'Female', 'Male'], dtype=object),
 array(['Life expectancy at birth (years)',
        'Healthy life expectancy (HALE) at birth (years)',
        'Life expectancy at age 60 (years)'], dtype=object))

There are 3 distinct data on 4 distint years and on 2 sexes on our dataset. We are asked to check the most current data so I will opt for using 2013 values and I also choose to include only the average value of both sexes since I don't have extra information on sexes' alcohol consumption patterns. I will keep 3 different measures of life expectancy for the sake of easy reproducablity, even though I highly doubt the results will change.

In [44]:
most_life = life[life["GhoDisplay"] == 'Life expectancy at birth (years)']
healthy_life = life[life["GhoDisplay"] == 'Healthy life expectancy (HALE) at birth (years)']
after_life = life[life["GhoDisplay"] == 'Life expectancy at age 60 (years)']

In [45]:
most_life = most_life[{"YearCode", "CountryDisplay", "SexDisplay", "Numeric"}]
healthy_life = healthy_life[{"YearCode", "CountryDisplay", "SexDisplay", "Numeric"}]
after_life = after_life[{"YearCode", "CountryDisplay", "SexDisplay", "Numeric"}]

In [46]:
most_life = most_life[(most_life["SexDisplay"] == "Both sexes") & (most_life["YearCode"] == 2013)]
healthy_life = healthy_life[(healthy_life["SexDisplay"] == "Both sexes") & (healthy_life["YearCode"] == 2013)]
after_life = after_life[(after_life["SexDisplay"] == "Both sexes") & (after_life["YearCode"] == 2013)]

In [47]:
most_life = most_life.reset_index().iloc[:, 1:5]
healthy_life = healthy_life.reset_index().iloc[:, 1:5]
after_life = after_life.reset_index().iloc[:, 1:5]

In [48]:
most_life.shape, healthy_life.shape, after_life.shape

((194, 4), (194, 4), (194, 4))

In [49]:
most_life.columns

Index(['YearCode', 'SexDisplay', 'CountryDisplay', 'Numeric'], dtype='object')

In [50]:
combined.merge(most_life, left_on = "country", right_on = "CountryDisplay").shape

(165, 24)

It seems that country names are again different in our datasets. I will again correct them manually.

In [51]:
most_life[~most_life.CountryDisplay.isin(combined["country"])]["CountryDisplay"]

5                                    Antigua and Barbuda
20                      Bolivia (Plurinational State of)
21                                Bosnia and Herzegovina
24                                     Brunei Darussalam
41                                         Côte d'Ivoire
46                 Democratic People's Republic of Korea
47                      Democratic Republic of the Congo
71                                         Guinea_Bissau
79                            Iran (Islamic Republic of)
92                      Lao People's Democratic Republic
110                     Micronesia (Federated States of)
113                                           Montenegro
125                                                 Niue
138                                    Republic of Korea
139                                  Republic of Moldova
143                                Saint Kitts and Nevis
144                                          Saint Lucia
145                     Saint Vincent and the Grenadines
148                                Sao Tome and Principe
160                                          South Sudan
168                                 Syrian Arab Republic
171            The former Yugoslav republic of Macedonia
172                                          Timor_Leste
175                                  Trinidad and Tobago
183    United Kingdom of Great Britain and Northern I...
184                          United Republic of Tanzania
185                             United States of America
189                   Venezuela (Bolivarian Republic of)
190                                             Viet Nam
Name: CountryDisplay, dtype: object

In [52]:
combined[~combined.country.isin(most_life["CountryDisplay"])]["country"]

5                 Antigua & Barbuda
20                          Bolivia
21               Bosnia-Herzegovina
24                           Brunei
39                         DR Congo
43                    Cote d'Ivoire
52                      Timor-Leste
72                    Guinea-Bissau
80                             Iran
91                      North Korea
92                      South Korea
95                             Laos
103                       Macedonia
114                      Micronesia
115                         Moldova
143               St. Kitts & Nevis
144                       St. Lucia
145    St. Vincent & the Grenadines
148             Sao Tome & Principe
167                           Syria
169                        Tanzania
173               Trinidad & Tobago
181                  United Kingdom
182                             USA
186                       Venezuela
187                         Vietnam
Name: country, dtype: object

In [53]:
combined.iloc[5,0] = most_life.iloc[5,0]
combined.iloc[20,0] = most_life.iloc[20,0]
combined.iloc[21,0] = most_life.iloc[21,0]
combined.iloc[24,0] = most_life.iloc[24,0]
combined.iloc[39,0] = most_life.iloc[47,0]
combined.iloc[43,0] = most_life.iloc[41,0]
combined.iloc[52,0] = most_life.iloc[172,0]
combined.iloc[72,0] = most_life.iloc[71,0]
combined.iloc[80,0] = most_life.iloc[79,0]
combined.iloc[91,0] = most_life.iloc[46,0]
combined.iloc[92,0] = most_life.iloc[138,0]
combined.iloc[95,0] = most_life.iloc[92,0]
combined.iloc[103,0] = most_life.iloc[171,0]
combined.iloc[114,0] = most_life.iloc[110,0]
combined.iloc[115,0] = most_life.iloc[139,0]
combined.iloc[143,0] = most_life.iloc[143,0]
combined.iloc[144,0] = most_life.iloc[144,0]
combined.iloc[145,0] = most_life.iloc[145,0]
combined.iloc[148,0] = most_life.iloc[148,0]
combined.iloc[167,0] = most_life.iloc[168,0]
combined.iloc[169,0] = most_life.iloc[184,0]
combined.iloc[173,0] = most_life.iloc[175,0]
combined.iloc[181,0] = most_life.iloc[183,0]
combined.iloc[182,0] = most_life.iloc[185,0]
combined.iloc[186,0] = most_life.iloc[189,0]
combined.iloc[187,0] = most_life.iloc[190,0]

In [54]:
combined.merge(most_life, left_on = "country", right_on = "CountryDisplay").shape

(165, 24)

In [55]:
most_combined = combined.merge(most_life, left_on = "country", right_on = "CountryDisplay")
healthy_combined = combined.merge(healthy_life, left_on = "country", right_on = "CountryDisplay")
after_combined = combined.merge(after_life, left_on = "country", right_on = "CountryDisplay")

In [109]:
most_combined.to_csv("/home/ozzy/Documents/CEU/MPDS/Homework/Data/Clean/most_combined.csv", index = False)
healthy_combined.to_csv("/home/ozzy/Documents/CEU/MPDS/Homework/Data/Clean/healthy_combined.csv", index = False)
after_combined.to_csv("/home/ozzy/Documents/CEU/MPDS/Homework/Data/Clean/after_combined.csv", index = False)